/* Image Widget */
.img-widget {
  margin: 0;
  width: 100%;
}
.img-widget img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: var(--aspect-ratio, auto);
}

/* Styles alignment */
.apos-left {
  margin-inline-end: auto;
}

.apos-center {
  margin-inline: auto;
}

.apos-right {
  margin-inline-start: auto;
}

/* Rich Text Tables */
[data-rich-text] table:not([class]),
.tiptap table:not([class]),
.tableWrapper table, /* stylelint-disable-line selector-class-pattern */
.apos-rich-text-table {
  overflow: hidden;
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  table-layout: fixed;

  td,
  th {
    box-sizing: border-box;
    padding: 6px 8px;
    border: 1px solid var(--a-base-4, #939393);
    min-width: 1em;
    vertical-align: top;

    > * { /* stylelint-disable-line max-nesting-depth */
      margin-bottom: 0;
    }
  }

  th {
    background-color: var(--a-base-8, #dbdbdb);
    font-weight: 700;
    text-align: start;
  }
}
